<div class="main">
      <div class="form-group text-center">
        <h1 class="home-title">CHILED CALENDAR</h1>
        <img src="images/title.png" alt="" class="rounded-circle col-9">
      </div>
      <%= link_to "楽に育児管理をはじめよう！", new_user_session_path, class: "btn btn-warning home-btn" %>
    </div>
  </div>
</div>
