.center {
  text-align:center;
  margin-top: 3rem;
}

table {
  width: 100%;
  table-layout: fixed;
}

.wide                                                                                                                                                                                                                                                                                                          {
  width: 60%;
}

.narrow {
  width: 10%;
}